/* src/index.css */
@import "tailwindcss";

/* Opcional: Estilos base para modo oscuro */
:root {
  background-color: #f3f4f6;
  color: #1f2937;
}

.dark :root {
  background-color: #111827;
  color: #f9fafb;
}

/* Ocultar scrollbar pero permitir scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
